@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-color: rgb(17 24 39);
    height: 110vh;
    width: auto;
    overflow: auto;
}